.main-content {
    position: relative;
    width: 75%;
    max-width: 1000px;
    min-width: 480px;
    min-height: 100%;
    margin: 0 auto;
    padding: 80px 30px;
    box-sizing: border-box;
    box-shadow: 0 0 5px #aaa;
    background: #fff;
}