---
---

.catalog {
    &-item {
        padding: 15px 30px;
        font-size: 20px;
        line-height: 1.5;

        a {
            position: relative;
            color: #333;
            text-decoration: none;

            &:after {
                content: " ";
                position: absolute;
                left: 50%;
                bottom: -3px;
                width: 0;
                border-bottom: 1px dotted #999;
                transition: all 150ms;
            }

            &:hover {
                &:after {
                    left: 0;
                    width: 100%;
                }
            }

            &:visited {
                color: #666;
            }
        }
    }
}